.navbar-item img {
	max-height: unset;
}

.has-margin-vertical {
	margin: 10px 0px;
}

.container {
	margin-bottom: 50px;
}

.table tr.is-highlighted {
	background-color: hsl(204, 86%, 53%);
	color: #fff;
}

.content ul {
	list-style: none;
	margin-left: 0;
	margin-top: 1em;
  }