.navbar-item img {
	max-height: unset;
}

.has-margin-vertical {
	margin: 10px 0px;
}

.container {
	margin-bottom: 50px;
}

.table tr.is-highlighted {
	background-color: hsl(204, 86%, 53%);
	color: #fff;
}

.content ul {
	list-style: none;
	margin-left: 0;
	margin-top: 1em;
}

.js-time-form {
	text-align: center;
}

@media print {
	.is-hidden-print {
		display: none !important;
	}

	table.is-table-print {
		font-size: 0.75rem !important;
	}

	table.is-table-print tr.is-selected {
		background-color: inherit;
		color: inherit;
	}

	table.is-table-print tr.is-selected td {
		border-color: #dbdbdb;
	}

	.is-race-best {
		color: #ff3860 !important;
		font-weight: bold;
	}
}
